{% extends 'base.html.twig' %}

{% block title %}Mon compte | 3DWWM{% endblock %}

{% block content %}
    <section>
        <h1 class="title">MON COMPTE</h1>
        <div class="flex cards-account">
            <div class="card-account flex">
                <p>COMMANDES</p>
                <img src="/images/package.png" alt="image carte colis">
                <a href="{{ path('app_frontend_account_order_index') }}" class="link">Voir</a>
            </div>
            <div class="card-account flex">
                <p>ADRESSES</p>
                <img src="/images/house.png" alt="image carte maison">
                <a href="{{ path('app_frontend_account_address_index') }}" class="link">Gérer</a>
            </div>
            <div class="card-account flex">
                <p>MOT DE PASSE</p>
                <img src="/images/key.png" alt="image carte clé">
                <a href="{{ path('app_frontend_account_password_update') }}" class="link">Modifier</a>
            </div>
        </div>
    </section>
{% endblock %}
